# Dépendances Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Données locales montées dans les conteneurs
ollama_data/
ebooks/
log/
n8n_data/

# Fichiers temporaires
.DS_Store
*.log
certs/
database/*.sqlite
n8n_data/*.sqlite
dumps/

patches/